{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/productpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>



<h1 style="text-align: center;">Oil</h1>
<div class="search">
    <form class="" method="POST" action = "">
        {% csrf_token %}
      <table>
        <th><td></td></th>
        <tr><td></td></tr>
      </table>
      <input type="submit" value="Search">
    </form>
</div>



</body>
</html>
{% endblock %}
