{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/update.css' %}" rel="stylesheet">
    </head>
    

<div class="form">
          <form action="{% url 'update' user.id %}" method="post">
      {% csrf_token %}
            {{form}}
            <div class="user-names" style="display: none;">{{form.user}}</div>
            <input type="submit" value="update">
            
          </form>
        </div>
      </div>
</body>
</html>
{% endblock content %}
